<%
var pageData = {
  pageTitle: "first",
  key: "index",
  css: "pc"
}
%>

<!DOCTYPE html>
<html lang="ja">
  <%- include('./_partial/head', pageData) %>
<body>
  <header>
    <div class="container">
      <h1>Simultechnology Pane</h1>
      <p>
        サンプル
      </p>
      <a href="#" target="_blank" class="btn">詳細を見る</a>
    </div>
  </header>

  <footer>
    &copy; simultechnology.com
  </footer>
</body>
</html>