<%
var pageData = {
pageTitle: "Web Speech Sample"
}
%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./_partial/head', pageData) %>
<body>
  <!--<button>Start</button>-->
  <!--<audio id="player" controls></audio>-->
  <a id="download">Download</a>
  <button id="stop">Stop</button>
<footer>
  &copy; simultechnology.com
</footer>
<script src="voice-detect.js"></script>
</body>
</html>
