<%
var pageData = {
pageTitle: "Web Speech Sample",
css: "web_speech"
}
%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./_partial/head', pageData) %>
<body>
  <!--<button>Start</button>-->
  <!--<audio id="player" controls></audio>-->
  <ul id="recordingslist"></ul>
  <button id="start">Start</button><br>
  <button id="stop">Stop</button>
<footer>
  &copy; simultechnology.com
</footer>
<script src="voice-detect.js"></script>
</body>
</html>
